.App {
  text-align: center;
}
.App-header {
  background: rgb(28,33,38);
  background: linear-gradient(0deg, rgba(28,33,38,1) 50%, rgba(49,53,62,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.image-article {
  background-color: rgb(240,240,240);
  width: 50vw;
  height: 50vw;
  margin: 3px auto;
  position: relative;
}
.image-random {
  z-index: 100;
}
@media only screen and (max-width: 540px) {
  .image-article {
    width: 100%;
    height: 100%;
    min-height: 100vw;
  }
}
#thanks {
  position: absolute;
  bottom: 0;
  right: 1em;
  color: white;
}
img {
  background-color: #d4d4d4;
  width: 100%;
  height: auto;
}
.word-image {
  width: initial;
  margin: 0.5em;
  align-self: center;
  max-width: 100%;
}
h2 {
  margin: 2em;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 54%, rgba(255,255,255,0) 100%);
  position: sticky;
  top: 0;
}
.word-item {
  background-color: #f9f9f9;
  border: 1px solid #e8dbbe;
  padding-bottom: 2em;
  margin-bottom: 2em;
}
.word-images-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.caret-down {
  width: 64px;
  position: absolute;
  left: calc(50% - 32px);
  bottom: 33%;
  background-color: transparent;
  cursor: pointer;
}
.loading-icon {
  width: 14%;
  background-color: transparent;
  min-width: 48px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
a:link {
  color: rgb(115, 207, 255);
}
a:visited {
  color: #ca80d6;
}
a:hover {
  color: rgb(172, 231, 255);
}
a:active {
  color: rgb(255, 142, 142);
}
